/* Google font  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* Start Header  */
body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}

.top-header{
    background:#2D25A0;
    padding-top: 67px;
    padding-bottom: 86px;
    margin-bottom: 43px;
}

.contener{
    width:1160px;
    margin:auto;
}

.all-raps{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading-info{
    width: 485px;  
}

.heading-info h1{
    font-size: 64px;
    font-weight: 700;
    color: white;
    line-height:80px ;
    margin-bottom: 5px;
}

.live-fb{
    background: #E02C6D;
    width: 168px;
    height: 44px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    transition: 1s;
}

.live-fb h4{
    padding-top: 11px;
}

.aro-ki{
    margin-left: 8px;
}

.header-banner img{
    width: 556px;
    height: 438px;
}

/* Start Hover  */
 .live-fb:hover{
    background: white;
    cursor: pointer;
    color:red; 
} 
/* End Hover  */

/* End Header  */

/* Start All Players Add  */

.all-players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.player{
    width: 330px;
    padding: 0px;
    box-shadow: 2px 6px 8px 6px #dbd9d9;
    margin-top:27px ;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-right:30px;
}

.player img{
    width: 300px;
    height: 256px;
    margin-top: 15px;
}

.player-info{
    width: 300px;
}

.player-info h2{
    font-size: 28px;
    font-weight: 700;
}
.player-info p{
    font-size: 16px;
    color:  #6C6C6C;
    font-weight: 400;
    font-family: none;
}

.contener-section{
    width: 1050px;
    margin: auto;
}

/* End All Players Add  */

/* Start upcoming-match  */

.match-raper{
    margin-top: 60px;
}

.match-raper h2{
    text-align: center;
    color: white;
    padding-top: 60px;
    font-size: 35px;

}

.upcoming-match{
    background-image: url(images/1.jpg);
    background-position: center;
}

.match-info{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: white;
    display: flex;
    width: 650px;
    margin: auto;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding-bottom: 70px;
}

.info{
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.info h4{
    margin-top: 0px;
}

.info h3{
    color: #fd6601;
    font-size: 25px;
}

/* End upcoming-match  */

 /* Start Match Gallery  */


#match-gallery{
     margin: auto;
     font-size: 40px; 
     color: #2D25A0;
     border-bottom: 3px solid #fa03bc;
     width: 290px;
     margin-top: 50px;
     margin-bottom: 50px;
}

.gallerys-raper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sengel-player img{
    width:330px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 8px 2px #6e5eae;

}

 /* End Match Gallery  */

 /* Footer Start  */

 .footer-div{
    width: 500px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
 }
 .footer-div img{
    width: 480px;
 }

 .bgcolor{
     background: #ebe9e9;
     padding: 5px;
     border-radius: 50%;
     color: #7f828d;
     margin-right: 14px;
     margin-bottom: 20px;
     margin-top: 10px;
 }

 /* Footer End  */

 /* Only Mobile Scine media query  Add*/

@media only screen and (max-width: 688px) {
    .top-header{
        width: 100%;
    }

    .contener{
        width:90%;
    }

    .heading-info{
        width: 350px;
    }

    .heading-info h1 {
        font-size: 40px;
        line-height: 50px;
        width: 300px;
        margin-right: 0px;
    }

   .all-raps{
    display:grid;
   }

   .header-banner img{
    width: 340px;
    height: 259px;
    margin-top: 50px;
   }

   .top-header {
    padding-top: 0px;
    padding-bottom: 50px;
   }

   .all-players{
       display: grid;
       grid-template-columns: 1fr;
   }

   .match-info{
       display: grid;
       grid-template-columns: 1fr;
       display: flex;
       flex-direction: column;
       width: 0px;
   }

   .gallerys-raper{
    display: grid;
    grid-template-columns: 1fr;
   }

    #match-gallery{
        text-align: center;
    }

    .contener-section{
        width: 0px;
        margin: 0%;
        margin-left: 6%;
    }
    .add-contan{
        margin-left: 6%;
    }

    .info{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .footer-div img{
        width:150px;
    }    
    .footer-div{
        width:auto;
    }

    .live-fb:hover{
        background: white;
        cursor: pointer;
        color:red; 
    } 

}

/* Only Mobile Scine media query  End  */

/* Only pad Scine media query  start  */

@media only screen and (min-width:688px) and (max-width:992px){
    
    .top-header{
        width: 100%;
    }

    .contener{
        width:90%;
    }
    .heading-info{
        width: 365px;
    }

    .heading-info h1 {
        font-size: 40px;
        line-height: 50px;
        width: 300px;
        margin-right: 0px;
    }

   .header-banner img{
    width: 360px;
    height: 259px;
    margin-top: 50px;
   }

   .top-header {
    padding-top: 0px;
    padding-bottom: 50px;
   }

   .all-players{
       display: grid;
       grid-template-columns: 1fr 1fr;
   }

   .match-info{
       grid-template-columns: 1fr 1fr;
   }

   .gallerys-raper{
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

    #match-gallery{
        text-align: center;
    }

    .contener-section{
        width: 0px;
        margin: 0%;
        margin-left: 5%;
    }
    .add-contan{
        margin-left: 5%;
        display: grid;
    }

    .info{
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .footer-div img{
        width:200px;
        margin-bottom: 20px;
    }    
    .footer-div{
        width:auto;
    }

    .sengel-player img{
        margin: bottom 10px;
        margin-right: 18px;
    }

    .live-fb:hover{
        background: white;
        cursor: pointer;
        color:red; 
    } 

} 

/* Only pad Scine media query  End  */